body
{ background: url(https://i.ytimg.com/vi/Pn5Xl4c685A/maxresdefault.jpg) no-repeat left;
    background-size: 120%;
    }

.articulo1
{
    float: left;
    box-sizing: border-box;
    width: 38%;
    box-shadow: 2px 2px 11px grey;
    padding: 15px;
    margin: 15px;
    text-align: justify;
}

h3,h5,h1
{
    font-family: 'Mansalva', cursive;
}

.aside1
{
float: right;
width: 15%;
box-sizing: border-box;
box-shadow: 2px 2px 11px grey;
padding: 20px;
}

footer
{ 
    background: black;
    color: whitesmoke;   
    clear: both;
    margin-top: 500px;
    font-weight: bold;
    position: fixed;
    width: 100%;
}